.all {
  overflow-y: scroll;

}
.img {
  min-height: 100vh;
  background-image: url(../start_css/beachshowcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #926239;
  line-height: 40px;
  text-align: center;
}
.h1 {
  margin: 0;
  font-size: 50px;
  color: #926239;
  padding-top: 220px;
  text-transform: capitalize;
}
.p {
  font-size: 20px;
  color: #926239;
}
.link {
  margin: 20px;
  border:1px solid #926239 ;
  font-size: 20px;
  padding: 10px;
  color: #926239;
  text-decoration: none;
  border-radius: 8px;
}
.text {
  font-size: 20px;
  color: white;
  background-color: #926239;
  text-align: center;
  padding: 20px;
}
.text1 {
  font-size: 20px;
  color: #926239;
  background-color: white;
  text-align: center;
  padding: 20px;
}
.block {
  display: inline-block;
  width: 33.3333%;
  box-sizing: border-box;
  padding: 20px;
  font-size: 20px;
  color: #926239;
}
.block1 {
  display: inline-block;
  width: 33.3333%;
  box-sizing: border-box;
  padding: 20px;
  font-size: 20px;
  color: white;
  background-color: #926239;
}