
table{
  width: 80%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
}

:root {
  --color1: #dcdcdc;
  --color2: #e8e8e8;
  --color3: #f3f3f3;
}

thead{
  background-color: #7988ac;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

h2{
  margin-bottom: 30px;
}

span {
  font-size: 40px;
  text-align: center;
}

p{
  margin-top: 10px;
}

td {
  padding: 20px;
}

thead td:nth-child(1) {
  vertical-align: middle;
  border-top-left-radius: 15px;
}

thead td:nth-child(2) {
  background-color: #4e628f;
}

thead td:nth-child(3) {
  background-color: #2a3f73;
}

thead td:nth-child(4) {
  background-color: #0e2454;
}

thead td:nth-child(5) {
  background-color: #010d36;
  border-top-right-radius: 15px;
}

tbody > tr:nth-child(odd) > td:nth-child(odd) {
  background-color: var(--color1);
}

tbody > tr:nth-child(even) > td:nth-child(odd), 
tbody > tr:nth-child(odd) > td:nth-child(even) {
  background-color: var(--color2);
}

tfoot {
  background: #dcdcdc;
}

tfoot td:nth-child(even) {
  background: #e8e8e8;
  padding: 10px;
 
}

tfoot td:first-child {
  border-bottom-left-radius: 15px;
}

tfoot td:last-child {
  border-bottom-right-radius: 15px;
}

button {
  background-color: #dcdcdc;
  color: gray;
  padding: 10px 30px;
  border: 2px solid gray;
  border-radius: 2px;
}