table{
  width: 80%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
}

thead{
  background-color: #7988ac;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 50px;
}

#type {
  padding-bottom: 30px;
}

span {
  font-size: 40px;
  text-align: center;
}

thead td:nth-child(1) {
  vertical-align: middle;
  border-top-left-radius: 15px;
}

thead td:nth-child(2) {
  background-color: #4e628f;
  padding: 20px;
  width: 18%;
}

thead td:nth-child(3) {
  width: 18%;
  background-color: #2a3f73;
}

thead td:nth-child(4) {
  width: 18%;
  background-color: #0e2454;
}

thead td:nth-child(5) {
  width: 18%;
  background-color: #010d36;
  border-top-right-radius: 15px;
}

tbody {
  background: #dcdcdc;
}

tbody tr:nth-child(even) {
  background: #e8e8e8;
  padding: 20px;

}

tbody td:nth-child(even) {
  background: #e8e8e8;
  padding: 20px;

}

#white-color {
  background: #f3f3f3;
}

tfoot {
  background: #dcdcdc;
}

tfoot td:nth-child(even) {
  background: #e8e8e8;
  padding: 10px;
 
}


tfoot td:first-child {
  border-bottom-left-radius: 15px;
}

tfoot td:last-child {
  border-bottom-right-radius: 15px;
}

.start-btn {
  background-color: #dcdcdc;
  color: gray;
  padding: 10px 30px;
  border: 2px solid gray;
  border-radius: 2px;
}